{
    "vue_settings": {
            "domain": "http://yogprerna.com",
            "clientID": "YOUR clientID"
        },
    "apiUrl": {
        "domain": "http://api.yogprerna.com",
        "api": "http://api.yogprerna.com/api/",
        "images": "http://api.yogprerna.com/images/",
        "propertyImage": "http://api.yogprerna.com/property/",
        "certificateImage": "http://api.yogprerna.com/certificate/",
        "courseImage": "http://api.yogprerna.com/course/"
    },
    "firebase":{
        "apiKey": "AIzaSyBQINKLKed3V_79zoxuRcmLXDzY-r0s_DA ",
        "authDomain": "vues-4b860.firebaseapp.com ",
        "databaseURL": "YOUR DATABASE URL",
        "projectId": "vues-4b860",
        "storageBucket": "YOUR STORAGE BUCKET",
        "messagingSenderId": "YOUR MESSAGESENDER ID"
    }
}